body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  background-color: #56a9ad;
  background-image: url(./images/redmoon.jpg);
  background-size: stretch;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
}
#root {
  width: 100vw;
  height: 100vh;
  color: #2a2223;
  margin: 0;
}